.counter {
    width: 200px;
    height: 100px;
    margin: 20px 20px;
    background-color: gray;
    border-radius: 8px;
    box-shadow: 2px 2px 5px inset;
    font-size: 90px;
    font-family: bold;
}

.counterText {
    font-size: 16px;
    font-family: bold;
    color: white;
}